@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
}

body {
    background-image: url('images/bg-intro-mobile.png');
    background-color: var(--primary-color-red);
}

:root {
    --primary-color-red: hsl(0, 100%, 74%);
    --primary-color-green: hsl(154, 59%, 51%);
    --accent-color: hsl(248, 32%, 49%);
    --neutral-blue: hsl(249, 10%, 26%); 
    --neutral-gray-blue: hsl(246, 25%, 77%);
    --text-color: white; 
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}

.text-box {
    text-align: center;
}

.text-box h1 {
    color: var(--text-color);
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 1rem;
}

.text-box p {
    color: var(--text-color);
    font-size: 16px;
    margin-bottom: 2rem;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.free-trial {
    background-color: var(--accent-color);
    border-radius: .5rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.free-trial h2 {
    font-size: 14px;
    color: var(--text-color);
    padding: 1rem;
    font-weight: 400;
    max-width: 15rem;
}

.free-trial span {
    font-weight: 600;
}

.form {
    background-color: var(--text-color);
    padding: 1rem;
    border-radius: .5rem;
}

.form input, 
.form .claim-btn {
    width: 100%;
    border-radius: .5rem;
    border: .5px solid #b4aeae;
    margin-bottom: .6rem;
    color: var(--neutral-blue);
    font-weight: 600;
    padding: 1rem;
}

.form .claim-btn {
    color: var(--text-color);
    border: 1px solid var(--primary-color-green);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: var(--primary-color-green);
    font-size: 16px;
    cursor: pointer;
}

.terms-conditions {
    color: var(--neutral-gray-blue);
    font-size: 10px;
    max-width: 14rem;
    margin-inline: auto;
}

.terms-conditions span {
    color: var(--primary-color-red);
    font-weight: 700;
}

@media (min-width: 765px) {
    .main {
        display: flex;
        flex-direction: row;
        padding: 5rem;
        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
    }

    .text-box h1 {
        font-size: 50px;
        text-align: left;
        max-width: 30rem;
    }
    
    .text-box p {
        text-align: left;
        max-width: 35rem;
    }

    .form-box {
        width: 40%;
    }

    .form {
        padding: 2rem;
    }

    .free-trial h2 {
        max-width: 20rem;
    }

    .terms-conditions p {
        font-size: 16px;
    }
}

